* {
  margin: 0%;
  padding: 0%;
  border: 0cap;
  box-sizing: border-box;
}

.App {

  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  font-family: 'Comfortaa', cursive;
}



.signin-error {
  color: red;
  font-size: 1.5em;
  margin-top: 1em;
  font-style: italic;
}

form {

  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;

}

form input {
  width: 300px;
  font-size: 15px;
  padding: 30px;
  margin: 10px;
}

button {
  width: 100px;
  height: 45px;
  padding: 10px;
  font-size: 16px;
  border: 3px solid rgb(218, 150, 218);
  background-color: rgb(218, 150, 218);
  border-radius: 30px;
  cursor: pointer;
}

.signup-form {
  display: flex;
  height: 50vh;

}

input {
  border: 2px solid white;
  border-radius: 10px;
  background-color: rgb(238, 231, 231);
  padding: 20px;
}

.welcome {
  background-color: aquamarine;
  padding: 10px;
}

.welcome button {
  position: relative;
  top: 50%;
  width: 100px;
  height: 45px;
  padding: 10px;

}
button:hover{
  background-color:  cyan;
}

.signup-form input {

  position: relative;
  width: 90%;
  height: 7vh;
  margin: 5px;

}

.signup-form h1 {
  position: absolute;
  top: -40%;
  left: 30%
}

.signup-form :nth-child(5) {
  position: relative;
  top: 5%;
  padding: 5px;

}

.signin {
  top: 30%;
}

.signin-btn {
  width: 100px;
  height: 45px;
  position: relative;
  top: 40%;
}



.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  width: 90%;
  position: relative;
  margin-top: 1rem;
  padding: 1.5rem 3rem;
  background-color: cyan;
  border-radius: 5px;
}

.Home #title {
  margin-top: 15px;
  width: 90%;
  height: 40px;
}

.Home h1 {
  position: absolute;
  top: -100px;
  left: 40%
}



.add-btn {
  position: absolute;
  padding: 5px;
  width: 75px;
  height: 45px;
  border-radius: 8px;
  left: 400px;
  top: 14.5px;

}


.icons {
  color: rgb(184, 5, 184);
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  display: flex;
  gap: 0.5rem;

}

.fa {
  cursor: pointer;
}


.signout {
  width: 100px;
  height: 45px;
  position: absolute;
  top: -100px;
  left: 5px;
}

.error {
  color: red;
  margin-top: 1.7em;
  font-size: 1.5em;
  font-style: italic;
}

@media only screen and (min-width: 992px) {
  .welcome button {
    position: relative;
    top: 50%;
    width: 100px;
    height: 45px;
    padding: 5px;
  }

  /* CSS styles for desktop screens go here */
  .App {
    width: 700px;
  }

  .add-btn {
    left: 600px;
  }
}

@media only screen and (max-width: 767px) {
  /* CSS styles for phones */

  .App {
    width: 400px;
  }

  .button {
    width: 50px;
    height: 20px;
    padding: 5px;
    font-size: 10px;
  }

  h1 {
    font-size: 20px;
  }

  input {
    padding: 10px;
  }

  .welcome {
    background-color: white;
  }

  .welcome button {
    width: 80px;
    height: 40px;
    padding: 5px;
    font-size: 10px;
    position: absolute;
    top: -10%;
    left: 70%;
  }

  .signup-form {
    margin: 5%;
  }

  .error,
  .signin-error {
    font-size: 1em;
    margin: 3em;
  }
}